.gameCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-flow: row dense;
  align-items: stretch;
  column-gap: 0.7rem;
  row-gap: 1.5rem;
}

.gameCard {
  cursor: pointer;
  margin: 1rem 0;
  width: 24rem;
  height: 19rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0.2px rgb(158, 157, 157);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0.7rem 0;
    h2 {
      margin-bottom: 1rem;
    }
  }

  .image {
    height: 100%;

    overflow: hidden;
  }

  .gameImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
