nav {
  .searchBox {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .search {
      display: flex;
      justify-content: stretch;
      button {
        background-color: var(--primaryColor);
        padding: 0.4rem 1rem;

        font-size: 0.9rem;
        color: white;
      }
      input {
        width: 40vw;
        padding: 0.3rem 1rem;
        font-size: 1.3rem;

        border: none;
        box-shadow: 0 0 5px 1px rgb(197, 197, 197);
      }
    }
  }
}
